body {
    background-color: brown;
    color: aliceblue;
    text-align: center;
    font-family: monospace, monaco;
    cursor: progress; /*no your page is not loading just the cursor*/
}

img {
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: 20px;
}

#long-text {
    margin-left: 500px;
    margin-right: 500px;
}
/* unsure how to center text on sides without using margins (is there a better fix?) */
.circle {
    margin-left: 900px; 
    margin-right: 880px;
}
/*was unsure how to move bulletpoints attached to unordered list so made a weird fix */